:root {
  --primary-color: #3498db;
  --secondary-color: #e74c3c;
  --text-color: #333;
  --background-color: #f5f5f5;
}

h1 {
  color: blueviolet;
  text-align: center;
}

header {
  border-bottom: 2px solid #777;
}

/* ================Main================= */

main {
  min-height: 780px;
}

.mainLayout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  padding: 2em;
}

.calculatorLayout {
  grid-row: 1/2;
  grid-column: 2/3;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historyLayout {
  grid-row: 1/2;
  grid-column: 3/4;
  padding: 2em;
}

.historySpan {
  font-size: 1.2rem;
  font-weight: 700;
}

.historyCalc {
  font-size: 1.5rem;
}

.history {
  padding: 2em;
  margin: 1em;
  border: 1px solid black;
}

.wrapper {
  border: 3px solid black;
  border-radius: 15px;
  padding: 1em;
  max-width: 300px;
  background-color: #f5f5f5;
}

.screen {
  border: 1px solid black;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 0.5em;
  background-color: #ffffff; /* White background for the display area */
  color: #333;
}

.bigScreen {
  border-bottom: 1px solid #777;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.smallScreen {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.smallScreen,
.bigScreen {
  text-align: end;
}

.buttonsLayout {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.buttons {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  max-width: 3rem;
  max-height: 3rem;
  font-weight: 700;
  background-color: #e74c3c; /* Complementary color to the background */
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.buttons:hover {
  background-color: aquamarine;
}

.buttons:active {
  transform: scale(0.95);
}

/* ===================Footer==================== */
footer {
  border-top: 2px solid #777;
  padding: 1em;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.links img {
  width: 40px;
  height: auto;
}
